* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #FFC1DA;       /* warna transparan */
  color: #333;
}

header {
  text-align: center;
  padding: 2rem 1rem;
}

header h1 {
  font-size: 2.8rem;
  color: #fff;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}

.filters {
  text-align: center;
  margin: 1rem 0;
}

.filters button {
  background: #fff;
  border: none;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 20px;
  transition: background 0.3s;
}

.filters button.active,
.filters button:hover {
  background: #fcb69f;
  color: #fff;
}

.gallery {
  column-count: 4;
  column-gap: 1rem;
  padding: 0 2rem 2rem;
  max-width: 1400px;
  margin: auto;
}

.gallery .photo {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, opacity 1s ease;
  break-inside: avoid;
  opacity: 0;
  transform: translateY(20px);
}

.gallery .photo.visible {
  opacity: 1;
  transform: translateY(0);
}

.gallery img {
  border-radius: 15px;
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
}

/* Responsive columns */
@media (max-width: 1200px) {
  .gallery {
    column-count: 3;
  }
}

@media (max-width: 800px) {
  .gallery {
    column-count: 2;
  }
}

@media (max-width: 500px) {
  .gallery {
    column-count: 1;
  }

  header h1 {
    font-size: 2rem;
  }
}

/* Lightbox */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.lightbox img {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 10px;
}

.lightbox.active {
  display: flex;
}

.lightbox:after {
  content: '✖';
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* button */
.tombol {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.tombol button {
  margin-top: 1em;
  background: #D50B8B;
  border: none;
  color: white;
  padding: 12px 50px;
  border-radius: 30px;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 0 0 15px #6a057288;
  transition: transform 0.3s ease;
}

.tombol button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #9d4eddcc;
}

/* music */
.tombol-music button {
 width: 70px;
 height: 70px;
 border-radius: 20%;
 border: none;
 background-color: #d6336c; 
 color: white;
 cursor: pointer;
 box-shadow: 0 4px 8px rgba(0,0,0,0.2);
 transition: background-color 0.3s, transform 0.2s;
}

.tombol-music .logo-music {
  margin-left: -13px;
}

.tombol-music button:hover {
 background-color: #732d91;
 transform: scale(1.05);
}

.tombol-music {
 position: fixed;
 bottom: 20px;
 right: 20px;
}

