@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #FFC1DA;
  font-family: 'Pacifico', cursive;
  display: flex;
  flex-direction: #FCD8CD;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: white;
  text-align: center;
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.5em;
  text-shadow: 2px 2px 10px #6a0572;
}

.card {
  background: #FFC1DA;
  border-radius: 20px;
  padding: 2em;
  max-width: 400px;
  min-height: 1600px; /* Tambahkan tinggi minimum */
  background: 	rgba(255, 255, 255, 0.03);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
  box-shadow: 0 0 15px #fff;
  background-color: #FF90BB;
  margin-top: 10px;
  align-items: center;
}

.profile-pic h2 {
  font-size: 25px;
  margin-top: -18px;
  z-index: 99;
}

.tulisan p {
  .tulisan p {
  font-size: 1.2rem;
  text-shadow: 1px 1px 5px #6a0572;
  font-family: arial;
}
}


.tombol-2 {
  padding: 40px;
  margin-right: -35px;
}

button {
  margin-top: 8em;
  background: #D50B8B;
  border: none;
  color: white;
  padding: 12px 50px;
  border-radius: 30px;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 0 0 15px #6a057288;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #9d4eddcc;
}

@media(max-width: 480px){
  .card {
    min-height: 400px;
    padding: 1.5em;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
}
/* animasi gambar */
.falling-images {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: -99999; /* Letakkan di belakang konten */
}

.falling {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  opacity: 0.9;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-100px) rotate(0deg);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}
